<div class="container">
  <div class="row">
    <div class="col-sm">Company Name</div>
    <div class="col-sm">Description</div>
    <div class="col-sm">website</div>
  </div>
  <div class="row">
    <div class="col-sm">location</div>
    <div class="col-sm">total raised</div>
    <div class="col-sm">date crawled</div>
  </div>
  <div class="row">
    <div class="col-sm">email</div>
    <div class="col-sm">email</div>
    <div class="col-sm">email</div>
  </div>
</div>